@import "tailwindcss";

:root {
  --background: #0b1120;
  --foreground: #353535;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
